.header {
    grid-area: h;
    background-color: aqua;
}
.header img {
    width: 100px;
    height: 70px;
}
.loginBlock{
    float: right;
    margin-right: 10px;
}
.loginBlock a {
    color: #7e94b6;
}